body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 14px;
}

.nav > li.active > a {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  background-color: rgba(59,35,20,1);
  border: 0px;
  color: white
}

.nav > li.active > a:hover {
  background-color: rgba(59,35,20,1);
  color: white;
}

.nav-tabs.nav-justified>li>a {
  border: 0px;
}

.nav > li > a {
  color: black;
}

.topnav {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  font-size: 20px;
}

.intro-header {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  color: rgb(22,22,18);
  font-weight: bold;
  background-image: url('./assets/img/bott.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.intro-message {
  position: relative;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 20%;
}

.transbox {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30%;
  margin-right: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(255,255,255,0.45);
}

.transbox > h1 {
  font-size: 6em;
  opacity: 1;
  filter: alpha(opacity=100);
}

.transbox-info {
  position: relative;
  top: -210px;
  margin-left: 40%;
  margin-right: 20%;
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: rgba(59,35,20,1);
}

.transbox-info > h3 {
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

#count-down {
  opacity: 1;
  color: rgba(40,40,41,1);
}

.time-label-parent{
  position: relative;
  top: -15px;
  font-weight: normal;
  color: rgba(40,40,41,1);
}

.time-label {
  margin-left: 40px;
  margin-right: 40px;
}

.social-network {
  position: relative;
  top: -50px;
  left: 11.25%;
}

.social-media-icon {
  margin-right: 5px;
}

.social-network-text {
  font-size: 24px;
  color: rgba(40,40,41,1);
}

.section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-box{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px;
  border-width: thin;
  border-color: rgba(40,40,41,1);
  border-style: solid;
  border-radius: 16px;
}

.product-image-box {
  width: 100%;
}

.product-image-box-mini {
  width: 25%;
}

.td-center > .table > tbody > tr > td {
  vertical-align: middle;
}

.footer {
  padding-top: 20px;
  color: #777;
}

@media(max-width:990px) {
    .transbox {
      margin-left: 0px;
      margin-right: 0px;
    }

    .transbox > h1 {
      font-size: 3.5em;
      opacity: 1;
      filter: alpha(opacity=100);
    }
    .time-label {
      margin-left: 15px;
      margin-right: 15px;
    }

    .transbox-info {
      position: relative;
      top: -180px;
      margin-left: 20%;
      margin-right: 20%;
      opacity: 1;
      filter: alpha(opacity=100);
      background-color: rgba(59,35,20,1);
    }

    .social-network {
      position: relative;
      top: -50px;
      left: 0%;
    }

    .intro-message {
        padding-bottom: 15%;
    }

    .topnav {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}
