<div class="section">
  <div class="container">
    <div class="text-right">
      <a href="/product/cart">View Cart</a>
    </div>
    <div class="row">
    {{ range .product_list }}
      <div class="col-xs-6 col-md-4">
        <div class="product-box text-center">
          {{ .Name }} <br />
          {{ .Description }} <br />
          {{ .Image }} <br />
          {{ .Price }} <br />
          <form action="/cart" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
            <input type="hidden" name="ID" value="{{ .ID }}" />
            <input type="submit" class="btn btn-success" value="Buy Now" />
          </form>
        </div>
      </div>
    {{ end }}
    </div>
  </div>
</div>
