<div class="section">
  <div class="container">
    <div class="text-right">
      <a href="/product/cart">View Cart</a>
    </div>
    <div class="row">
    {{ range .product_list }}
      <div class="col-xs-6 col-md-6">
        <div class="product-box">
          <h4 class="text-center"><b>{{ .Name }}</b></h4>
          <div class="product-image-box">
            <img class="img-responsive center-block" src="{{ .Image }}" />
          </div>
          {{ raw .Description }}
          <form action="/cart" method="post" class="text-center">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
            <input type="hidden" name="ID" value="{{ .ID }}" />
            <input type="submit" class="btn btn-success" value="Preorder Now" />
          </form>
        </div>
      </div>
    {{ end }}
    </div>
  </div>
</div>
