<div class="section">
  <div class="container">
    <p>
      Thank you for interested in Cool Bro! We will get back to you soon with more information on how to get some of our bottled boldness.
    </p>
  </div>
</div>
