<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Coolbro Website">
  <meta name="author" content="Thiti Watanasrimongkol">
  <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
  <!-- <link rel="stylesheet" href="style.css" /> -->
  <link rel="stylesheet" href="/public/style-temp.css" />
  <title>CoolBro Bangkok</title>
</head>

<body>
  <nav class="navbar navbar-default topnav" role="navigation">
    <div class="container topnav">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-full">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-full">
        <ul class="nav nav-tabs nav-justified text-center">
          <li class={{ active_menu_class "" }}><a href="/">What's Coolbro</a></li>
          <li class={{ active_menu_class "process" }}><a href="/process">Our Brewing Process</a></li>
          <li class={{ active_menu_class "product" }}><a href="/product">Our Products</a></li>
          <li class={{ active_menu_class "findus" }}><a href="/findus">Find Us</a></li>
          <li class={{ active_menu_class "contactus" }}><a href="/contactus">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav>
  {{ yield }}
  <div class="container">
    <footer class="footer">
      <p class="text-right">&copy; 2017 BoldCrew Co., Ltd.</p>
    </footer>
  </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>
